bandir/*
*~
*tiddly.html
temp/temp.txt
temp/temp2.txt
temp/tiddly_1.html
temp/tiddly_3.html
index.php
nota.md
panlingue/barudant/
suomi/Diaesitys.odp
suomi/Diaesitys.pdf
grafe/*
html/*
docs/*/lexaslia.md
docs/*/pan.md
docs/*/pan.pdf
docs/*/do_panlingue.md
docs/*/ze_panlingue.md


